<section class="hero is-fullheight">
	<div class="hero-body">
		<div *ngIf="!isLoading()">
			<p class="title">Authentification</p>
			<form (ngSubmit)="onSubmit(login)" #login="ngForm" class="subtitle">
				<!-- prettier-ignore -->
				<input type="text" [(ngModel)]="name" name="name" class="input is-primary" placeholder="Username" />
				<button type="submit" class="button is-primary is-light">
					Parler !
				</button>
			</form>
		</div>
		<div *ngIf="isLoading()">
			<p>Chargement en cours...</p>
		</div>
	</div>
</section>
